.preview-cont{
  height: 100%;
  overflow-y: auto;
  background: $content-body-background-color;
  border: none;
  
  .preview-cont-col{
    position: relative;
    left: -2.083333%;
  }
  .preview-card{
    margin: 0 0 15px;
    background: $content-card-background-color;
    border: none;

    .chart-cont{
      height: 200px;
    }
  }
}