$header-font-color: #efefef;
$header-icon-color: #efefef;
$header-height: 64px;
$header-background-color: transparent;

$content-font-color: #efefef;
$content-body-background-color: rgba(0, 0, 0, .8);
$content-card-background-color: transparent;

$footer-background-color: transparent;
$footer-font-color: #efefef;