.container{
  width: 100%;
  height: 100%;
  
  .container-layout{
    z-index: 1;
    background: transparent;
  }
  
  .content{
    padding: 20px;
    box-sizing: border-box;
    height: calc( 100vh - 64px - 69px );
    color: $content-font-color;
    
  }

  .footer{
    text-align: center;
  }
}
